<mat-tab-group *ngIf="!ongoingSprint">
  <mat-tab label="Past Sprints">
    <app-past-sprints></app-past-sprints>
    <div style="width: 100%; text-align: center;">
      <button class="delete-user" type="submit" mat-button color="warn" (click)="onClickDeleteData()">Delete all data</button>
    </div>
    <app-logged-user-name></app-logged-user-name>
  </mat-tab>
  <mat-tab label="New Sprint">
    <app-new-sprint></app-new-sprint>
    <app-logged-user-name></app-logged-user-name>
  </mat-tab>
  <!-- <mat-tab label="Templates">
    <app-sprint-template></app-sprint-template>
    <div style="width: 100%; text-align: center;">
      <button class="import-sprint-template" type="submit" mat-raised-button color="primary" (click)="onClickImportSprintTemplate()">Import existing template...</button>
    </div>
    <app-logged-user-name></app-logged-user-name>
  </mat-tab> -->
</mat-tab-group>
<app-ongoing-sprint (sprintStop)="sprintStop()" *ngIf="ongoingSprint"></app-ongoing-sprint>
