<div class="table-wrapper">
  <input class="inputSearch" [(ngModel)]="searchText" placeholder="Filter by length, status, date or description">

  <table class="table table-striped" [mfData]="dataSource.data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
      <tr>
        <th style="width: 10%">
          <mfDefaultSorter by="name">Length</mfDefaultSorter>
        </th>
        <th style="width: 8%">
          <mfDefaultSorter by="status">Status</mfDefaultSorter>
        </th>
        <th style="width: 8%">
          <mfDefaultSorter by="startedAt">Date</mfDefaultSorter>
        </th>
        <th style="width: 8%">
          <mfDefaultSorter by="startedAt">Start</mfDefaultSorter>
        </th>
        <th style="width: 8%">
          <mfDefaultSorter by="finishedAt">Finish</mfDefaultSorter>
        </th>
        <th style="width: 60%">
          <mfDefaultSorter by="description">Description</mfDefaultSorter>
        </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data | filter : searchText">
        <td>{{getSprintFullName(item)}}</td>
        <td>{{getStatus(item)}}</td>
        <td>{{item.startedAt | date:"yyyy-MM-dd" }}</td>
        <td>{{item.startedAt | date:"HH:mm:ss"}}</td>
        <td>{{item.finishedAt | date:"HH:mm:ss"}}</td>
        <td>{{item.description}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="12">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>


<div fxLayout="column" fxLayoutAlign="center center">
  <div (click)="onClickDeleteAllData()" class="button-delete">
    <button class="button-content" type="submit">Delete all data</button>
  </div>
</div>

<div [ngClass]="dimmerNgClass"></div>

<div [ngClass]="deleteAllDataDialogNgClass" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="1em">
  <h5 class="custom-header" style="text-align: center;">Deletion is irreversible. Are you sure?</h5>
  <div class="delete-text">
    <p>The only information concerning your user that we store are your past sprints. We do not store information about your
      user itself.
    </p>
    <p>
      Delete to eliminate all records.
    </p>
  </div>
  <div fxLayout="row" fxLayoutAlign="center end">
    <div (click)="onClickDeleteAllDataConfirm()" class="button-yes-no" style="background-color: #f44336;">
      <button class="button-content" type="submit">Yes</button>
    </div>
    <div (click)="onClickDeleteAllDataCancel()" class="button-yes-no" style="background-color: #3f51b5;">
      <button class="button-content" type="submit">No</button>
    </div>
  </div>
</div>
