<input class="inputSearch" [(ngModel)]="searchText" placeholder="Filter by length, status, date or description">
<table [mfData]="dataSource.data" #mf="mfDataTable" [mfRowsOnPage]="10">
  <thead>
    <tr>
      <th style="width: 12%; min-width: 10em;">
        <mfDefaultSorter by="name">Length</mfDefaultSorter>
      </th>
      <th style="width: 12%; min-width: 10em;">
        <mfDefaultSorter by="status">Status</mfDefaultSorter>
      </th>
      <th style="width: 12%; min-width: 6em;">
        <mfDefaultSorter by="startedAt">Date</mfDefaultSorter>
      </th>
      <th style="width: 12%; min-width: 6em;">
        <mfDefaultSorter by="startedAt">Start</mfDefaultSorter>
      </th>
      <th style="width: 12%; min-width: 6em;">
        <mfDefaultSorter by="finishedAt">Finish</mfDefaultSorter>
      </th>
      <th style="width: 40%; min-width: 10em;">
        <mfDefaultSorter by="description">Description</mfDefaultSorter>
      </th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data | filter : searchText">
      <td>{{getSprintFullName(item)}}</td>
      <td>{{getStatus(item)}}</td>
      <td>{{item.startedAt | date:"yyyy-MM-dd" }}</td>
      <td>{{item.startedAt | date:"HH:mm:ss"}}</td>
      <td>{{item.finishedAt | date:"HH:mm:ss"}}</td>
      <td>{{item.description}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="12">
        <mfBootstrapPaginator style="float:right" [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>
