<section fxLayout="column" fxLayoutAlign="top center">
  <form (ngSubmit)="onSubmitNewSprintForm()" [formGroup]="newSprintForm" fxLayoutAlign="center center" fxLayout="column">
    <div class="card" fxLayout="column" fxLayoutGap="0" fxLayoutAlign="top center">
      <h1>Start a sprint!</h1>
      <br>
      <div class="select">
        <select class="select-text" formControlName="selectedSprint">
          <option *ngFor="let sprint of sprints" value="{{ sprint._id }}"> {{ getSprintFullName(sprint) }} </option>
        </select>
        <span class="select-highlight"></span>
        <span class="select-bar"></span>
        <label class="select-label">Choose length *</label>
        <div class="label-hint-valid">
          <label>{{newSprintForm.get('selectedSprint').valid ? '✔' : 'Required'}}</label>
        </div>
      </div>
      <div fxLayout="column" style="width:100%; padding-bottom: 0.5em;">
        <div class="label-hint">
          <label>Description *</label>
        </div>
        <textarea rows="3" formControlName="description" placeholder="What will you be doing?"></textarea>
        <div class="label-hint-valid">
          <label>{{newSprintForm.get('description').valid ? '✔' : 'Required'}}</label>
        </div>
      </div>
      <div>
        <label class="material-checkbox" style="float: left;">
          <input type="checkbox" *ngIf="showNotificationCheckbox" formControlName="notify">
          <input type="checkbox" *ngIf="!showNotificationCheckbox" formControlName="notifyDisabled">
          <span style="float: right;" [ngClass]="showNotificationCheckbox ? '' : 'line-through'"> Notify when completed </span>
        </label>
      </div>
      <label fxLayoutAlign="center center">
        <div style="font-style: italic; padding-left: 0.5em;"> {{showNotificationCheckbox ? ' &nbsp;' : 'Notifications disabled by browser'}}</div>
      </label>
      <div class="start-button" color="primary" [ngClass]="!newSprintForm.valid? 'disabled' : ''">
        <button class="button-content" type="submit">Start</button>
      </div>
    </div>
  </form>
</section>
