<section fxLayout fxLayoutAlign="center center" class="new-sprint">
  <form (ngSubmit)="onSubmitNewSprintForm()" [formGroup]="newSprintForm" fxLayoutAlign="center center">
    <div class="card" fxLayout="column" fxLayoutGap="0.5em">
      <h1>Start a sprint!</h1>
      <br>
      <div class="select">
        <select class="select-text" formControlName="selectedSprint">
          <option *ngFor="let sprint of sprints" value="{{ sprint._id }}"> {{ getSprintFullName(sprint) }} </option>
        </select>
        <span class="select-highlight"></span>
        <span class="select-bar"></span>
        <label class="select-label">Choose length *</label>
        <div class="label-hint-valid">
          <label>{{newSprintForm.get('selectedSprint').valid ? '✔' : 'Required'}}</label>
        </div>
      </div>
      <div>
        <div class="label-hint">
          <label>Description *</label>
        </div>
        <textarea rows="3" formControlName="description" placeholder="What will you be doing?"></textarea>
        <div class="label-hint-valid">
          <label>{{newSprintForm.get('description').valid ? '✔' : 'Required'}}</label>
        </div>
      </div>
      <label class="material-checkbox">
        <input type="checkbox" *ngIf="showNotificationCheckbox" formControlName="notify">
        <span *ngIf="showNotificationCheckbox"> Notify when completed</span>
        <input type="checkbox" *ngIf="!showNotificationCheckbox" formControlName="notifyDisabled">
        <span *ngIf="!showNotificationCheckbox"> Notifications disabled by browser</span>
      </label>
      <br>
      <button type="submit" mat-raised-button color="primary" [disabled]="!newSprintForm.valid">Start</button>
    </div>
  </form>
</section>
