<div color="primary" class="headnav-container">
  <div fxFlex="1 0 20%">
    <div fxHide.xs class="logo">
      <img alt="Sprints Logo" src="assets/logo.png">
    </div>
    <div (click)="onToggleSidenav()" fxHide.gt-xs class="logo">
      <img alt="Sprints Logo" src="assets/logo.png">
    </div>
  </div>
  <div fxFlex="1 1 60%" fxHide.xs fxLayout fxLayoutAlign="center center">
    <a class='app-name' routerLink="/">≡Sprint</a>
  </div>
  <div fxFlex="8 8 70%" fxHide.gt-xs fxLayout fxLayoutAlign="center center">
    <a class='app-name' style="cursor: default">≡Sprint</a>
  </div>
  <div fxFlex="1 0 20%" fxLayout fxLayoutAlign="end center" class="header-links">
    <div fxLayout fxLayoutAlign="end">
      <a *ngIf="!isAuthenticated" (click)="login()" fxHide.xs>Login</a>
      <a *ngIf="isAuthenticated" routerLink="/sprint" fxHide.xs>Sprints</a>
      <a *ngIf="isAuthenticated" style="cursor: pointer" (click)="onClickLogout()" fxHide.xs>Logout</a>
    </div>
  </div>
  <audio src="./assets/notification.wav"></audio>
</div>
