img {
  text-decoration: none;
  padding: 0.7em;
  height: 40px;
  pointer-events: none;
}

.logo {
  height: 64px;
}

a {
  color: white;
  font-weight: 400;
  padding: 0em 0.5em;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:hover,
a:active {
  color: lightgray;
}

.app-name {
  font-family: monospace;
  font-style: oblique;
  font-size: 17pt;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus {
  color: white;
}

.headnav-container {
  width: 100%;
  background-color: #3f51b5;
  height: 64px;
  font-size: 15pt;
}

.header-links {
  padding-right: 0.5em;
}
