<div color="primary" class="headnav-container">
  <div fxFlex="1 0 20%">
    <div fxHide.xs class="logo" fxHide.lt-md>
      <img alt="Sprints Logo" src="assets/logo.png">
    </div>
    <div (click)="onToggleSidenav()" fxHide.gt-sm class="logo" style="cursor: pointer;">
      <img alt="Sprints Logo" src="assets/logo.png">
    </div>
  </div>
  <div fxFlex="1 1 60%" fxHide.lt-md fxLayout fxLayoutAlign="center center">
    <a class='app-name' routerLink="/">≡Sprint</a>
  </div>
  <div fxFlex="8 8 70%" fxHide.gt-sm fxLayout fxLayoutAlign="center center">
    <a class='app-name' style="cursor: default">≡Sprint</a>
  </div>
  <div fxFlex="1 0 20%" fxLayout fxLayoutAlign="end center" class="header-links">
    <div fxLayout fxLayoutAlign="end">
      <a *ngIf="!isAuthenticated" (click)="login()" fxHide.lt-md style="cursor: pointer;">Login</a>
      <a *ngIf="isAuthenticated" routerLink="/sprint" fxHide.lt-md style="cursor: pointer;">Sprints</a>
      <a *ngIf="isAuthenticated" style="cursor: pointer" (click)="onClickLogout()" fxHide.lt-md style="cursor: pointer;">Logout</a>
    </div>
  </div>
  <audio src="./assets/notification.wav"></audio>
</div>
