section {
  padding: 30px;
  padding-top: 3em;
}

p {
  font-size: 12pt;
  max-width: 15em;
  text-align: justify;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

footer {
  padding-top: 50px;
  text-align: center;
  font-style: italic;
  font-size: 12pt;
}

.report-bug {
  color: #3f51b5;
  padding: 0.5em;
  margin-top: 4em;
  margin-bottom: 1.5em;
  border: 0;
  border-radius: 2px;
  font-size: 12pt;
  text-decoration: none;
  outline: none;
  background: white;
}

.report-bug:hover {
  background-color: #3f51b5;
  opacity: 0.8;
  z-index: 1;
  color: lightgray;
}

.card {
  width: 18em;
  height: 24em;
  box-shadow: 2px 1px 8px 1px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  padding: 1.5em 1.25em 1em 1.25em;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 19pt;
  font-weight: 500;
  color: rgb(10, 10, 10, .87);
}
