<div fxLayoutAlign="center center" fxLayout="column">
  <section fxLayout fxLayoutAlign="start">
    <div class="card" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="1em">
      <h1>About</h1>
      <p>Sprint is a minimalist desktop time management application inspired by the
        <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro Technique</a>.
      </p>
      <p>Choose a sprint length, enter a brief description of the activity, and get things done.</p>
      <p>Preferred browser:
        <a href="https://www.google.com/chrome/">Chrome</a>.
      </p>
      <p>
        <span style="text-decoration: underline; cursor: pointer" (click)="onClickTermsAndConditions()">Terms and conditions</span>.
      </p>
    </div>
  </section>
  <footer fxLayoutAlign="center center" fxLayout="column">
    <app-version-tag> </app-version-tag>
    <a href="mailto:daniel.tucunduva@gmail.com?subject=Sprint bug report" class="report-bug">
      Report bug
    </a>
  </footer>
</div>

<div [ngClass]="dimmerNgClass" (click)="onClickCloseTermsAndConditions()"></div>

<div [ngClass]="termsAndConditionsDialogNgClass" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
  <h1 style="text-align: center;">Terms and Conditions</h1>
  <div>
    <ol>
      <li>
        <h6 class="custom-header">You understand this is an alpha version.</h6>
        <span class="terms-text">
          Long term persistence of your data is not guaranteed.
        </span>
      </li>
    </ol>
  </div>
</div>
