section {
  padding: 30px;
  padding-top: 3em;
  height: fit-content
}

p {
  font-size: 12pt;
  max-width: 15em;
  text-align: justify;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

footer {
  padding-top: 50px;
  text-align: center;
  font-size: 12pt;
}

.report-bug {
  color: #3f51b5;
  padding: 0.6em 2em;
  margin-top: 4em;
  margin-bottom: 1.5em;
  border: 0;
  border-radius: 2px;
  font-size: 12pt;
  text-decoration: none;
  outline: none;
  background: white;
}

.report-bug:hover {
  background-color: #3f51b5;
  opacity: 0.8;
  z-index: 1;
  color: lightgray;
}

.card {
  width: 18em;
  height: 24em;
  box-shadow: 2px 1px 8px 1px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  padding: 1.5em 1.25em 1em 1.25em;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 19pt;
  font-weight: 500;
  color: rgb(10, 10, 10, .87);
}

.app-name {
  font-size: 14pt;
  font-family: monospace;
  font-style: oblique;
}

/* Terms dialog ================================== */

.custom-header {
  font-family: inherit;
  font-size: 14.5pt;
  font-weight: 550;
  margin: 0.75em 0;
}

.dialog-hide {
  position: absolute;
  left: -150em;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 0;
}

.dialog-show {
  background: white;
  position: fixed;
  left: 50%;
  top: 45%;
  margin-left: -12em;
  margin-top: -8em;
  width: 24em;
  height: fit-content;
  opacity: 1;
  z-index: 3;
  border-radius: 2px;
  padding: 2em 1em;
}

.terms-text {
  text-align: justify;
  width: 100%;
}

.dimmer-hide {
  position: fixed;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 0;
}

.dimmer-show {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
